<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.5/spectre.min.css" integrity="sha512-ixkV1XQlIe5qFmlGKThyYFBm14zZe2j2Rn/Pl+xNKCQxsPviyGFCE6I9LLx8H57quHN5pgGh0jVrlE+sv/satQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
<style>
body {
  max-width: 1100px;
  margin: auto;
}

.repo-tile {
  margin-bottom: 1em;
}
</style>
</head>

<body>
<div class="container">
  <h1>Github Repo Explorer</h1>

  <div class="form-group">
    <div class="controls input-group input-inline">
      <input class="form-input" type="text" 
          name="q" placeholder="Search..." 
          hx-get="/" 
          hx-trigger="keyup changed delay:500ms" 
          hx-target="#content"
          hx-select="#content"
          hx-swap="outerHTML"
          hx-indicator=".htmx-indicator"
          value="<%= search_results&.query %>"
          hx-push-url="true">

      <a href="/" class="btn btn-secondary input-group-btn" hx-get="/" hx-target="body" hx-push-url="true">clear</a>
    </div>
  </div>

  <div>&nbsp;<i class="form-icon loading htmx-indicator"></i></div>

  <div id="content">
  <% if search_results && search_results.total_count > 0 %>
    <div class="columns" hx-boost="true">
      <div class="column col-6">
        <% if search_results.pagination.prev %>
        <a href="/?<%= search_results.pagination.prev %>" hx-indicator=".htmx-indicator">&laquo; Previous page</a>
        <% end %>
      </div>
      <div class="column col-6 text-right">
        <% if search_results.pagination.next %>
        <a href="/?<%= search_results.pagination.next %>" hx-indicator=".htmx-indicator">Next page &raquo;</a>
        <% end %>
      </div>
    </div>

    <div id="data" style="margin-top: 3em">
      <% search_results.repos.each do |repo| %>
        <div class="tile repo-tile">
          <div class="tile-icon">
            <figure class="avatar">
              <img src="<%= repo.avatar %>" />
            </figure>
          </div>
          <div class="tile-content">
            <p class="tile-title text-bold">
              <a href="<%= repo.url %>" target="_blank"><%= repo.name %></a>
            </p>
            <p class="tile-subtitle"><%= repo.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% elsif search_results %>
    <div class="empty">
      <div class="empty-icon">
        <i class="icon icon-stop"></i>
      </div>
      <p class="empty-title h5">No results found</p>
    </div>
  <% else %>
    <div class="empty">
      <div class="empty-icon">
        <i class="icon icon-stop"></i>
      </div>
      <p class="empty-title h5">Type something in the search bar</p>
    </div>
  <% end %>
  </div>
</div>
</body>
</html>