<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.4.5/spectre.min.css" integrity="sha512-ixkV1XQlIe5qFmlGKThyYFBm14zZe2j2Rn/Pl+xNKCQxsPviyGFCE6I9LLx8H57quHN5pgGh0jVrlE+sv/satQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
<style>
body {
  max-width: 1100px;
  margin: auto;
}

.repo-tile {
  margin-bottom: 1em;
}
</style>
</head>

<body>
<div class="container">
  <h1>Github Repo Explorer</h1>

  <div class="form-group">
    <div class="controls input-group input-inline">
      <input class="form-input" type="text" 
          name="q" placeholder="Search..." 
          hx-get="/" 
          hx-trigger="keyup changed delay:500ms" 
          hx-target="#content"
          hx-select="#content"
          hx-swap="outerHTML"
          value="<%= search_results&.query %>"
          hx-push-url="true">

      <a href="/" class="btn btn-secondary input-group-btn" hx-get="/" hx-target="body" hx-push-url="true">clear</a>
    </div>
  </div>

  <div id="content">
  <% if search_results %>
    Count: <%= search_results.total_count %>

    <div id="data" style="margin-top: 3em">
      <% search_results.repos.each do |repo| %>
        <div class="tile repo-tile">
          <div class="tile-icon">
            <figure class="avatar">
              <img src="<%= repo.avatar %>" />
            </figure>
          </div>
          <div class="tile-content">
            <p class="tile-title text-bold">
              <a href="<%= repo.url %>" target="_blank"><%= repo.name %></a>
            </p>
            <p class="tile-subtitle"><%= repo.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
  <div class="hero hero-lg bg-gray">
    <div class="hero-body">
      <p>Type something in the search box to see the results.</p>
    </div>
  </div>   
  <% end %>
  </div>
</div>
</body>
</html>